
<div class="grid-wrapper">
    <button class="k-button"  onclick="window.print()">
        Print
      </button>
<kendo-grid  [kendoGridBinding]="invdetail"   [resizable]="true"  [height]="pagez" [group]="group" [pageable]="true" [pageSize]="50">
    <ng-template kendoGridToolbarTemplate>
        <button type="button" kendoGridExcelCommand icon="file-excel">Export to Excel</button>
    </ng-template>
    <kendo-grid-column field="BSUBNO" title="B-Num" [width]="120">
    </kendo-grid-column>
    <kendo-grid-column field="DESCRIPTION" title="Event" [width]="70">
    </kendo-grid-column>
    <kendo-grid-column field="CALLTYPE" title="Call Type" [width]="70">
    </kendo-grid-column>
    <kendo-grid-column field="DATE" title="Date" [width]="90">
    </kendo-grid-column>
    <kendo-grid-column field="TIME" title="Time" [width]="70">
    </kendo-grid-column>
    <kendo-grid-column field="DURATION" title="Duration" [width]="100">
    </kendo-grid-column>
    <kendo-grid-column field="AMOUNT" title="Amount" [width]="90">
    </kendo-grid-column>
<kendo-grid-excel fileName="voiceexcel.xlsx" [fetchData]="allData"></kendo-grid-excel>
</kendo-grid>
<div *ngIf="load2" class="k-i-loading"></div>
</div>

     