<div class="login-head" >
    <a>MTN Liberia (Invoice Inquiry)</a>
  </div>
  <div class="bg-img" >
    
</div>

  

<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<form >
<div class="login">
  
  <div class="login-form">
       
    <h3>A code will be sent to {{username}} , Please confirm.</h3>
        <a  class="confirm" href="/enter-code">Confirm</a>
       
        <a class = "cancel" href="/register">Cancel</a>
    
      
  </div>
</div>
</form>

